[2020-06-08 19:15] dsupure opened #9 "FlashBlade NFS 4.1 Support and FB-NFS Access Control via Export Rules"
Per request by PSO customers:

1. Customers want to enable NFS 4.1 for FlashBlade to achieve better performance and mount NFS the way they want via mount options (rw/ro, hard/soft, fg/bg, vers).

2. Customers want to enable the FB-NFS Access Control via Export Rules that they can define their own CIDR access range and different permission for volumes.

[2020-06-08 20:50] dsupure commented on #9
PR for this issue: https://github.com/purestorage/pure-csi-driver/pull/10

[2020-06-10 22:16] pure-jliao opened #17 "Add schema validation for values.yaml file"

[2020-06-11 00:05] pure-jliao commented on #17
finished as https://github.com/purestorage/pso-csi/pull/18

[2020-06-11 00:05] #17 closed

[2020-07-08 22:14] zhaojunhua119 opened #36 "Support for Sharing a Volume Among Different Kubernetes Namespaces"
## Requirement
We have a requirement to share a volume with different PODs in different Kubernetes namespaces.

## Problem
In Kubernetes, a volume can only be shared within one namespace by using PersistentVolumeClaim. It is not easy to share a purestorage volume among different namespaces.

#### Can you provide an official way to fulfill this requirement?

## Workaround
Currently, we are using so

[2020-07-08 22:31] sdodsley commented on #36
@zhaojunhua119 First and most important comment - FlexVolumes are now deprecated and Pure recommends that you upgrade to the CSI version of the PSO driver.
After you have done this, we can reassess your issue as your workaround may not work with a CSI driver.

[2020-07-08 22:37] zhaojunhua119 commented on #36
Thank you @sdodsley , I have post it in helm-charts  [https://github.com/purestorage/helm-charts/issues/241](url)

[2020-07-09 16:45] Pure-AdamuKaapan opened #38 "FlashArray IOPS and Bandwidth QoS Support"
See this [design doc](https://github.com/purestorage/pso-csi/blob/master/docs/flash-array-qos-control.md) for more details.

[2020-07-09 17:28] sdodsley commented on #36
Issue raised in incorrect repo.

[2020-07-09 17:28] #36 closed

[2020-07-09 18:08] #38 closed

[2020-07-15 23:04] Pure-AdamuKaapan opened #40 "Enable OpenShift 4.4 support"

[2020-07-27 17:20] sdodsley commented on #40
Closed with #41

[2020-07-27 17:20] #40 closed

[2020-07-27 17:20] sdodsley commented on #9
Closed by #10

[2020-07-27 17:20] #9 closed

[2020-07-29 18:25] Pure-AdamuKaapan opened #55 "Support setting export rules for database volumes"
End users may want to restrict database volume access to only nodes in the cluster (reasonably enough). Enable setting this from values.yaml.

[2020-07-29 19:19] #55 closed

[2020-09-01 15:41] anolan80 opened #80 "Not working in Openshift 4.5"
I followed the instructions that you have.  However it continues to fail the issue is:
on pso-db-cockroach-operator pod
msg="failed to get liveness for node" error="Get http://pso-db-13-0.pso-db.pure-storage-orchestrator:8080/health: dial tcp 192.168.5.28:8080: connect: connection refused"

on pso-csi-controller-0  pso-csi-container
host=pso-db-public.pure-storage-orchestrator port=26257 user=root

[2020-09-01 17:29] dsupure commented on #80
Hi @anolan80 ,
Thank you for reporting this issue. From the log, it looks like you were hitting the network problem. `"dial tcp 192.172.48.36:26257: connect: connection refused"`. Can you share what 1. kubenetes version, 2 your virtual network tool( flannel or calico?) you are using on your platform? I suspect you could hit the recent network issue on k8s:

https://github.com/kubernetes/kubernetes

[2020-09-01 19:16] anolan80 commented on #80
im still getting a connection refused.  and I will look into the routing
rule.

but I am also seeing that the pso proble indicates that the plugin is not
ready - what would cause that?

kubernetes 1.18.3
I believe the default openshiftsdn is flannel

On Tue, Sep 1, 2020 at 1:29 PM Chun-Yi Su (David) <notifications@github.com>
wrote:

[2020-09-01 19:25] sdodsley commented on #80
PSO is saying it is not ready because it can't communicate with its internal DB.

[2020-09-01 19:28] haibinxie commented on #80
could you please share output of "kubectl get pod --all-namespaces -o wide"

[2020-09-01 21:32] dsupure commented on #80
Hi @anolan80 : We've confirmed that 1.18.3 has this cni0 network bug. We saw the same issue in our test environment.
Have you tried to run `ethtool -K flannel.1 tx-checksum-ip-generic off` on all nodes ?

[2020-09-01 22:46] anolan80 commented on #80
rhcos for openshift does nor have ethtool installed

On Tue, Sep 1, 2020, 5:33 PM Chun-Yi Su (David) <notifications@github.com>
wrote:

[2020-09-02 15:15] anolan80 commented on #80
ip r add 10.96.0.0/16 dev cni0 is in the example given

would this be for me

ip r add 10.115.0.0/16 dev ens192

or

ip r add 192.168.0.0/16 dev tun0

[core@ocp-lab-worker02 ~]$ ifconfig

ens192: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500

        inet 10.115.254.24  netmask 255.255.255.0  broadcast 10.115.254.255

        inet6 fe80::250:56ff:fe95:3681  prefixlen 64  scopeid 0x20<link>

[2020-09-02 15:17] anolan80 commented on #80
also the routes exist

[core@ocp-lab-worker02 ~]$ route

Kernel IP routing table

Destination     Gateway         Genmask         Flags Metric Ref    Use
Iface

default         _gateway        0.0.0.0         UG    100    0        0
ens192

10.115.254.0    0.0.0.0         255.255.255.0   U     100    0        0
ens192

192.168.0.0     0.0.0.0         255.252.0.0     U     0      0        0 tun0

1

[2020-09-02 16:28] dsupure commented on #80
Hi `ethtool` is a native linux tool. You should be able to install it via yum. You need to run the command on all your nodes. I would recommend you to try this approach first.

[2020-09-02 16:52] haibinxie commented on #80
it would be good If you could upgrade to k8s 1.18.6, the bug was fixed in that version.

Also 192.168.0.0 and 192.172.0.0 both point to tun0, do you have two subnets for pods?

[2020-09-02 17:01] anolan80 commented on #80
yes I am using openshift it has two cidr subnets.

I cant upgrade to k8s this is openshift on RHCOS.

I also cant install ethtool as again this is RHCOS even yum isnt installed.

On Wed, Sep 2, 2020 at 12:52 PM HaibinMichaelXie <notifications@github.com>
wrote:

[2020-09-02 20:10] dsupure commented on #80
Hi, @anolan80
Is there any way you can install the `ethtool` tool on your RHCOS? RHCOS should provide a toolbox for users to install packages they want, right?

We want to rule out if it is the known checksum issue or it's a real PSO issue. Please try to use `ethtool` or other methods we mentioned above to rule out the checksum issue and see if the problem still exists.

Thanks,

[2020-09-02 21:24] anolan80 commented on #80
no thats not how coreos works, it provides packages pre requested.  Think
of it an image there is no way to just install this.

On Wed, Sep 2, 2020 at 4:11 PM Chun-Yi Su (David) <notifications@github.com>
wrote:

[2020-09-02 22:20] sdodsley commented on #80
We are building a 4.5.3 cluster now to see what the issue might be

[2020-09-03 13:25] anolan80 commented on #80
awesome thank you

On Wed, Sep 2, 2020, 6:20 PM Simon Dodsley <notifications@github.com> wrote:

[2020-09-04 15:19] anolan80 commented on #80
any updates?

On Thu, Sep 3, 2020 at 9:25 AM Adam Nolan <anolan80@gmail.com> wrote:

[2020-09-04 17:24] dsupure commented on #80
Hi @anolan80 :
We noticed that RHCOS does not install multipath by default and this is required by PSO. Can you check if your worker nodes install it?  It may not the root cause of your environment, just want to confirm.

Also, please let me know if you can send the log of these three pods and send to my email (dsu.purestorage.com) :
[code]
The command is like `kubectl log -n <namespace> pod/pso-d

[2020-09-04 18:01] anolan80 commented on #80
multipath is installed

[core@ocp-lab-worker01 ~]$ rpm -qa |grep device-mapper

device-mapper-multipath-libs-0.8.3-3.el8.x86_64

device-mapper-event-libs-1.02.169-3.el8.x86_64

device-mapper-persistent-data-0.8.5-3.el8.x86_64

device-mapper-libs-1.02.169-3.el8.x86_64

device-mapper-multipath-0.8.3-3.el8.x86_64

device-mapper-event-1.02.169-3.el8.x86_64

device-mapper-1.02.169-3.el8.x86_64

The fol

[2020-09-05 18:49] sdodsley commented on #80
That example you give is for the upstream in-tree native iSCSI driver, not for a CSI-based driver.
We are continuing to investigate, but it is a national holiday weekend in the US so there will be no one to look further until Tuesday.

[2020-09-07 17:08] sdodsley commented on #80
@anolan80 I would like you to try to perform the following steps.

1. helm uninstall pso
2. delete the namespace created for PSO
3. ensure that the Pure CRD is deleted - it's name is `intrusions.pso.purestorage.com`
4. Log on to all the backend arrays you had configured and delete any volumes that may have been created by the failed PSO install - these will have the name <clusterID>-pso-db-xxxxxxx

[2020-09-07 17:36] anolan80 commented on #80
awesome thank you I willt ry tomorrow.  steps werent so clear on that link
- just run those scripts on each of the worker nodes?

On Mon, Sep 7, 2020 at 1:08 PM Simon Dodsley <notifications@github.com>
wrote:

[2020-09-07 17:54] sdodsley commented on #80
You only have to apply the YAML file once and this will kick the OpenShift machine config operator to run it correctly across all worker nodes.

There is a document in the PR that describes how to lose the YAML and what you need to do.

[2020-09-08 12:36] anolan80 commented on #80
adam.nolan@its.ny.gov

On Mon, Sep 7, 2020 at 1:08 PM Simon Dodsley <notifications@github.com>
wrote:

[2020-09-08 12:55] anolan80 commented on #80
I am getting an acquire lock failed - locked by other process

On Tue, Sep 8, 2020 at 8:35 AM Adam Nolan <anolan80@gmail.com> wrote:

[2020-09-08 15:56] anolan80 commented on #80
I figured out the lock message it was on the storage end.

howeve rI applied the 99 pure storage attach yaml and I see the nodes
restart but the multipath.conf files are not being created?

On Mon, Sep 7, 2020 at 1:54 PM Simon Dodsley <notifications@github.com>
wrote:

[2020-09-08 15:59] anolan80 commented on #80
ignore please

On Tue, Sep 8, 2020 at 11:55 AM Adam Nolan <anolan80@gmail.com> wrote:

[2020-09-08 16:01] anolan80 commented on #80
ok everything is working now thank you so very much!!!!!!!!

On Tue, Sep 8, 2020 at 11:58 AM Adam Nolan <anolan80@gmail.com> wrote:

[2020-09-08 16:20] sdodsley commented on #80
@anolan80 please confirm that the issue has resolved by using the instructions in PR #81 and that we can close this issue.

[2020-09-08 17:25] anolan80 commented on #80
yes they worked

On Tue, Sep 8, 2020, 12:20 PM Simon Dodsley <notifications@github.com>
wrote:

[2020-09-08 17:30] sdodsley commented on #80
Issue resolved using PR #81

[2020-09-08 17:30] #80 closed

[2020-09-29 11:16] mscbpi opened #87 "Question: Import pv/pvc created with 5.x"
When installing PSO 6.x, shall we recreate every volume ?

Also:
despite what the doc says [here](https://github.com/purestorage/pso-csi/blob/master/docs/custom-storageclasses.md#provided-storage-classes) `pure` storage class is not created by default anymore. Nor is `storageClass:` available in `values.yaml` (documented [here](https://github.com/purestorage/pso-csi/blob/master/docs/custom-storage

[2020-09-29 11:53] sdodsley commented on #87
The `pure1 storageClass was deprecated so considerable time ago and finally removed in PSO 6. These documentation glitches have slipped through and will be resolved. Thank you for pointing them out.
There is no official upgrade path from PSO 5.x to 6.0.x at this time. We are working on a solution, but in the interim it should be possible to use a similar process to the one described for the Flex t

[2020-09-29 14:41] mscbpi commented on #87
In fact my pod were running with attached volumes until they have to restart, then CSI won't find existing volumes.

It was unclear whether the upgrade was not supported in terms of helm chart / CSI plugin upgrade or PV/PVC management migration and existing data. So I consider old PV/PVC have to be migrated manually by deleting them (with retain policy) and re-importing them (as per your doc and b

[2020-09-29 17:29] mscbpi opened #89 "Cannot use imported volume"
Imported volume created as per the doc

PV and PVC created and bound.

when pod is deploying it triggers

[code]

Used to work with 5.x.

PV and PVC have been deleted and recreated as per 6.x doc.

[2020-09-29 17:54] haibinxie commented on #89
I think this is because the volume does not support NFS 4.1, if you enable NFS 4.1 on the volume it should work afterwards.

[2020-09-29 18:14] mscbpi commented on #89
That is right ! you can close the case.

[2020-09-29 18:19] #89 closed

[2020-09-29 18:25] mscbpi commented on #87
Before closing this issue just to be clear:

- PV/PVC created with 5.x should be deleted and imported manually whatever happens ?
- Or did I meet this situation because clusterID (then prefix) changed ?

I happen to have recreated volumes and migrated data when needed, when possible, for most of them (quicker than PV import).

[2020-09-29 18:50] mscbpi commented on #87
@sdodsley I closed by mistake, also answer edited. Thanks for your support.

[2020-09-30 11:33] mscbpi opened #90 "Debug Level Log"
Default in values.yaml is:
[code]

Still the container is very talky with debug level messages:

[code]

[2020-09-30 12:42] sdodsley commented on #90
@dsupure can you have a look at this?

[2020-09-30 16:07] dsupure commented on #90
Hi @mscbpi, @sdodsley
Yes. I am aware of it. PSO 6.x produces many more logs than 5.x due to our volume metadata service (cockroach-db).
@mscbpi : Does the current PSO logger affect your system/environment and you need a quick solution for it?

I've created a JIRA to track this issue and we plan to address it in 20Q4. We plan to revise our current logs and build a proper mechanism to decide the me

[2020-09-30 17:18] mscbpi commented on #90
@dsupure
We log our cluster logs into an Elastic instance so it's quite polluting the database. A quick fix would be appreciated.
My concern is that you have a debug switch in your chart however log level `debug` is still present.

[2020-09-30 21:18] dsupure commented on #90
Ah, I overlook it. Let me see what happens here.

[2020-09-30 23:50] haibinxie commented on #90
It's a bug, will make a fix.

[2020-10-02 06:18] mscbpi opened #91 "Memory Leak on pso-db ?"
Memory usage of `pso-db` pods in increasing at very high level.

![image](https://user-images.githubusercontent.com/28528210/94893565-cb218600-0487-11eb-8f18-b5ee7a497c4f.png)

[2020-10-02 07:31] sdodsley commented on #91
@dsupure and @Pure-AdamuKaapan can you look into this?

[2020-10-02 13:32] dsupure commented on #91
OK. This is very bad. I'll use the pperf to take a look. We should hold off the release before we fix the memory leaking issue.
Thanks for helping us to find issues @mscbpi !

[2020-10-02 14:51] mscbpi commented on #91
`pso-db` is cockroach so you may investigate there, I have found some content on memory management / tune to avoid this situation on their github.

I have not investigated the environment (around or within the pods). I have restarted the pods manually to free up memory and will monitor closely the evolution. If I have some time I'll look in the logs as well, but there's a lot (and I don't know coc

[2020-10-02 15:06] dsupure commented on #91
@mscbpi : Can you share the link about the memory management issue around cockroach, I would like to take a look. Also, just curious, did you run any test or benchmark during the period of memory leaking. Thanks again for the keen eyes to find the issues.

[2020-10-02 16:58] mscbpi commented on #91
https://github.com/cockroachdb/cockroach/issues/47686 just googling around, I have not checked if it is somehow relevant.

No test or benchmarks running.

[2020-10-03 10:18] mscbpi commented on #91
https://github.com/cockroachdb/cockroach/issues/13333

Old but still. It's been solved with an update. Since helm chart enable us to choose image version of cockroach is it worth trying a different version? Is there a risk?

(The issue is still there on our installation no workaround but kill pods)

[2020-10-03 12:13] mscbpi commented on #91
Over a longer period of time. Drops are deletion of the pod.
![image](https://user-images.githubusercontent.com/28528210/94991303-8a5a6780-0582-11eb-8156-60e09c94a338.png)

[2020-10-03 14:36] sdodsley commented on #87
All references to the `pure` storage class have now been removed from the repo by #88 . Thanks for pointing this oversight to us.

We are still working on an official upgrade path from 5 to 6 and will keep you informed.

[2020-10-03 17:41] mscbpi commented on #91
`database.resources` for orchestration is in values.yaml but not in the [documentation](https://github.com/purestorage/pso-csi/tree/master/pure-pso#configuration).

It will not solve the problem above (I really think it is expected with current `command`, commiting .25 of the memory resources for pso is not something we want though),

With `database.resources` set we may:
- have db pods run on _di

[2020-10-03 22:01] mscbpi commented on #91
If I may the [hardware recommendations](https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html#basic-hardware-recommendations) for cockroach really makes me wonder if this was a good choice for `pso`.

Based on my previous post if limits are a way to constrains the workload, it would be nice to have some recommendations on how to set the resources limits depending on number

[2020-10-03 23:34] haibinxie commented on #91
We have anti-affinity of DB pods, so they will be spread across all k8s worker nodes, ideally if there are 5 worker nodes then each one gets on db pod. but if there are only 3 worker nodes then 2 db pods will run on same worker node.

Given our metadata size is not big, assume 1 volume or one snapshot is 2k, if we have 5k volumes/snapshots, that's 10MB. We can set a default value for example 1GB a

[2020-10-04 06:48] mscbpi commented on #91
5 worker nodes still the pods may be scheduled on the same nodes.

I am running on 19.2.10 (not the latest, but latest 19.2.x), and the behavior is the same.

There is some activity on the volumes, but no new volumes and I have like 2 dozens, not 5k...

[2020-10-04 20:09] dsupure commented on #91
Hi @mscbpi
Thanks for the many useful suggestions. We have confirmed that the cockroach version we are using has the memory leaking issue. I upgraded to the latest version (`20.1.6`) and I don't see the leaking anymore:
<img width="1850" alt="Screen Shot 2020-10-04 at 12 56 25 PM" src="https://user-images.githubusercontent.com/54077270/95025794-29459900-0641-11eb-9001-1f1d08f6fd6a.png">

We'll fix

[2020-10-05 06:39] mscbpi commented on #91
@dsupure
- **How much memory do your nodes have ?**
=> I'm seeing the same behavior as yours, just as a higher level, and this may not be a leak but expected cockroach behavior as designed. Please have a look at [this article in official documentation](https://www.cockroachlabs.com/docs/stable/cluster-setup-troubleshooting.html#suspected-memory-leak)

A CockroachDB node will grow to consume all of

[2020-10-05 07:11] mscbpi opened #92 "Question: pso reinstallation"
Question:

What happens if we delete completely the `pso` helm charts and leave existing volumes, and then reinstall the helm chart (same version), do we recover our setup ?

[2020-10-05 14:48] Pure-AdamuKaapan commented on #92
You will indeed recover your setup, assuming you leave the volumes and cluster ID with the same name. PSO on startup will scan for all volumes that match the same cluster ID and use them to start up, then will do any required scaling after a successful startup.

[2020-10-05 16:03] mscbpi commented on #92
Ok ! This leads me to the following question: if by any chance my  pso-5.x-created-volumes would have the correct prefix/clusterID, would they be imported automatically ?

[2020-10-05 16:11] Pure-AdamuKaapan commented on #92
Unfortunately not yet. However, we are working on a more streamlined migration path from PSO 5.x to 6.x. That being said, if you have an urgent need to migrate, you can follow the instructions at https://github.com/purestorage/pso-csi/blob/master/docs/csi-volume-import.md. Just note that it will be a disruptive migration, as workloads will have to be re-mounted.

[2020-10-05 16:25] mscbpi commented on #92
Yes I had done that just wondering if I could have avoided it. thanks !

[2020-10-05 16:25] #92 closed

[2020-10-06 07:21] mscbpi commented on #91
Relaunch from scratch with default version 19.2.3 and 512Mi `database.resources.memory.limits`
[image](https://user-images.githubusercontent.com/28528210/95109532-000a3300-073d-11eb-9778-5cda393381de.png)
It runs above 512Mi but does not get OOMKilled and is stable.

[2020-10-06 13:45] mscbpi commented on #91
@dsupure
I am not getting the same result as yours. 20.1.6 still have its memory growing as it is expected with cockroach according to their documentation.
![image](https://user-images.githubusercontent.com/28528210/95208998-1e7a3800-07ea-11eb-8de9-287bd6c4cdd2.png)

The only setup that makes it not too greedy is to set `database.resources.memory.limits` which cockroach handles well since it adjus

[2020-10-06 18:45] dsupure commented on #91
Hi @mscbpi :
Yeah. I still saw memory growth w/o memory limit on `20.1.6`. It was not as crazy as `19.2.3` but it's growing for sure.

<img width="1819" alt="Screen Shot 2020-10-05 at 5 46 52 PM" src="https://user-images.githubusercontent.com/54077270/95245849-8750b880-07c8-11eb-9fa6-69c0afbe5eda.png">

I go through the cockroach db documents your provided and agree with you it's maybe not necessa

[2020-10-07 18:06] DIMPLY opened #95 "Release v6.0.3"
## v6.0.3 (10/07/2020)

#### Enhancements:

* Enabled support to import snapshots from Pure Flash Array(FA). This applies to snapshots that were created directly on the Flash Array outside of K8S
* Added support for Platform9.
* Improved handling of NFS versions and support for mounting volumes that were provisioned prioir to NFS v4.1 upgrade
* Fixed race condition issue in cockrachdb operator tha

[2020-10-07 18:22] sdodsley commented on #95
Are we going to include the cockroach resource limits exposure as discussed??

[2020-10-07 18:29] DIMPLY commented on #95
@sdodsley Are you talking about the memory leak issue? I remember a fix was reversed, so I didn't included. Is there a new fix included in the code? (I remember David wanted to modify something in values.yaml to set a limit for this.)

[2020-10-07 18:38] sdodsley commented on #95
It's not a leak, but a bad implementation that needs fixing. As it's relatively simple we should wait and include in this release

[2020-10-07 19:39] dsupure commented on #95
As I mentioned in the team channel. Users today can rein them memory using `database.resources.memory.limits` in `values.yaml`. We can do another enhancement to expose the default values (`--cache .25 --max-sql-memory .25`), which is hard-coded in the cockroach-operator today, but I don't think it urgent to do so. We can do in the next release. IMHO, the release is good to go, we just need to have

[2020-10-07 19:42] dsupure commented on #95
Aslo, what is this one, @DIMPLY ?
* Optimization by reducing the number of RESTful API calls

[2020-10-07 20:02] sdodsley commented on #95
These database resource limits need to be documented then.

[2020-10-08 19:05] DIMPLY commented on #95
@dsupure I originally put it as "En’s fix for the TestAttachAndDetachStorm" according to our Slack discussion, but it's actually reducing all rest api calls, not only for TestAttachAndDetachStorm. TestAttachAndDetachStorm just happens to put more loads on the REST server.

[2020-10-09 17:31] dsupure commented on #91
Hi @mscbpi :
I am going to update our doc and close this issue. Thank you for bringing it to our attention.

[2020-10-12 17:58] #95 closed

[2020-10-13 22:53] dsupure commented on #91
Have a PR #100 to update the document to bring attention to customers how to rein the db pod memory.

[2020-10-13 22:53] #91 closed

[2020-11-03 03:32] StuartWhelan opened #108 "Best way to redeploy/refresh pso-dbs?"
I have updated my values.yaml to include resource requests for my pso-db's (which are currently using 70% of the clusters memory), and then ran a helm upgrade.

What is the safest way to trigger the pso-db redeployment with new resource request suggestions?

[2020-11-04 00:03] haibinxie commented on #108
the helm upgrade with db pod resource limit is not implemented yet, the best way is to start with a fresh installation. If there is no content (volumes/snapshots) in db right now, it can be uninstalled and reinstalled. if there is already content in db, it is not well supported right now, we are working on a tool to reconstruct the content of DB and also a upgrade path to set the memory limit, for

[2020-11-05 17:17] haibinxie commented on #108
here is how to make it work for now, before we implement a complete upgrade path:
1. config correct resource limits in values.yaml, use helm upgrade to upgrade it. I think for your case, you want resource limits in below. (note it is limits not requests)
resources:
 limits:
   cpu: "1"
   memory: "1Gi"
2. delete cockroach operator pod via kubectl delete pod , find the pod name via:
root@docker-des

[2020-11-08 20:36] StuartWhelan commented on #108
Thank you for the instructions.

I have successfully done this on our test cluster, and a few days later our prod cluster. A few notes for anyone who follows..

- Of course use the namespace you installed your pure csi into, which is probably not default.
- It is probably a good idea to check your pso-db cluster is healthy before you start. Use `kubectl --namespace pure-csi get intrusion` and chec

[2020-11-08 20:36] #108 closed

[2020-11-08 21:28] sdodsley commented on #108
@StuartWhelan this is great information.
Thank you for validating our process in a real-world environment.
We will take your comments and ensure they are reflected in our process description.

[2020-11-13 20:16] anolan80 opened #111 "error with openshift 4.6"
tried a fresh install which worked on openshift 4.5

pso-db-public.pure-storage-orchestrator

time="2020-11-13T20:12:52Z" level=debug msg="Creating a persistent store service" logrus_error="can not add field \"func\"" config="&{true cockroach pure pso-db-public.pure-storage-orchestrator    /cockroach/cockroach-certs map[]}"
time="2020-11-13T20:12:52Z" level=debug msg="Create a cockroach store serv

[2020-11-13 20:21] anolan80 commented on #111
cluster logs are better now for deployer
time="2020-11-13T20:18:16Z" level=info is_debug_mode=false name=dbdeployer_cmd
time="2020-11-13T20:18:16Z" level=info msg="version info" OS=linux arch=amd64 go=go1.15 name=dbdeployer_cmd
{"level":"info","ts":1605298696.3583765,"logger":"leader","msg":"Trying to become the leader."}
{"level":"info","ts":1605298696.4946408,"logger":"leader","msg":"No pre-exis

[2020-11-13 20:21] anolan80 commented on #111
nsenter '--mount=/proc/1/ns/mnt' -- mkdir -p /mnt/pso/db/cockroach/pure-storage-orchestrator/pso-db-0/5eeee244-25ed-11eb-8b23-0a58c0a80515
+ nsenter '--mount=/proc/1/ns/mnt' -- umount -i /mnt/pso/db/cockroach/pure-storage-orchestrator/pso-db-0/5eeee244-25ed-11eb-8b23-0a58c0a80515
umount: /mnt/pso/db/cockroach/pure-storage-orchestrator/pso-db-0/5eeee244-25ed-11eb-8b23-0a58c0a80515: not mounted.
+ t

[2020-11-13 20:35] sdodsley commented on #111
@anolan80 There error message that is most concerning is the lack of local IQN.
Can you confirm the array you are using is configured for iSCSI. Also confirm that you applied the machineset YAML file for OpenShift as this will ensure all the worker nodes have the correct software pre-requisites installed and configured

[2020-11-13 20:47] anolan80 commented on #111
I did apply the 99 pure storage yaml.  and yes it is only scsi

[2020-11-13 20:50] sdodsley commented on #111
It looks like iSCSI is not configured correctly on the worker node. Can you confirm that all the worker nodes have the /etc/iscsi/initiatorname.iscsi file and that there is valid content in them.

[2020-11-13 20:55] sdodsley commented on #111
A valid entry would be like this:
InitiatorName=iqn.1994-05.com.redhat:e568db47b763

[2020-11-13 21:03] anolan80 commented on #111
[core@ocp-lab-worker01 ~]$ cat /etc/iscsi/initiatorname.iscsi
cat: /etc/iscsi/initiatorname.iscsi: No such file or directory

[2020-11-13 21:08] anolan80 commented on #111
root@ocp-lab-worker01 iscsi]# systemctl status iscsid
● iscsid.service - Open-iSCSI
   Loaded: loaded (/usr/lib/systemd/system/iscsid.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2020-11-13 19:30:02 UTC; 1h 38min ago
     Docs: man:iscsid(8)
           man:iscsiuio(8)
           man:iscsiadm(8)
 Main PID: 1732 (iscsid)
   Status: "Ready to process requests"

[2020-11-13 21:12] anolan80 commented on #111
ployments
Deployment Configs
Stateful Sets
Secrets
Config Maps
Cron Jobs
Jobs
Daemon Sets
Replica Sets
Replication Controllers
Horizontal Pod Autoscalers
Networking
Services
Routes
Ingresses
Network Policies
Storage
Persistent Volumes
Persistent Volume Claims
Storage Classes
Volume Snapshots
Volume Snapshot Classes
Volume Snapshot Contents
Builds
Monitoring
Alerting
Metrics
Dashboards
Compute
Node

[2020-11-13 21:27] sdodsley commented on #111
So the issue is that when iSCSI was installed on the worker nodes, the iscsi IQN file was created for some reason.

The way to fix this on the fly is to run the following command on each worker node:

`# sudo echo "InitiatorName=`/sbin/iscsi-iname`" > /etc/iscsi/initiatorname.iscsi`

then restart iscsid on each node.

You might want to completely uninstall PSO at this point and start again to ensu

[2020-11-13 21:35] anolan80 commented on #111
ok did that still erroring out

reisntalled fresh

[core@ocp-lab-worker03 ~]$ sudo su
[root@ocp-lab-worker03 core]# systemctl status iscsid
● iscsid.service - Open-iSCSI
   Loaded: loaded (/usr/lib/systemd/system/iscsid.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2020-11-13 21:29:38 UTC; 5min ago
     Docs: man:iscsid(8)
           man:iscsiuio(8)
           ma

[2020-11-13 21:43] anolan80 commented on #111
nm I took what you said litterally instead of adding int he value tha t/sbin/iscis-iname comes out with.  We are working.  What is the long term solution for this?

[2020-11-14 15:38] sdodsley commented on #111
@anolan80 The iSCSI working requirement is actually already listed in the prereqs, however, to overcome this potential issue in the future we will be providing an init container that will ensure all the prereq software is installed and configured on all worker nodes. This will be made available in PSO 6.0.4 when it is released.
There will also be an option in the `values.yaml` to disable this func

[2020-11-14 16:17] anolan80 commented on #111
awesome thank you very much

On Sat, Nov 14, 2020, 10:38 AM Simon Dodsley <notifications@github.com>
wrote:

[2020-11-14 16:30] sdodsley commented on #111
Documented requirements not fully implemented

[2020-11-14 16:30] #111 closed

[2020-11-16 13:18] anolan80 opened #112 "After upenshift 4.5.x to 4.6.1 upgrade storage is broken"
here are the logs from everything
urrent issues
time="2020-11-16T13:04:29Z" level=debug msg="Creating a persistent store service" logrus_error="can not add field \"func\"" config="&{true cockroach pure pso-db-public.pure-storage-orchestrator    /cockroach/cockroach-certs map[]}"

time="2020-11-16T13:08:15Z" level=debug msg="Creating a persistent store service" logrus_error="can not add field \"fun

[2020-11-16 13:43] sdodsley commented on #112
The error `W201116 13:05:46.431366 1397 vendor/google.golang.org/grpc/clientconn.go:1206 grpc: addrConn.createTransport failed to connect to {pso-db-5-0.pso-db.pure-storage-orchestrator:26257 0 }. Err :connection error: desc = "transport: Error while dialing dial tcp 192.168.4.27:26257: connect: connection refused". Reconnecting...`
tells me your worker nodes do not have iSCSI dataplane connectivi

[2020-11-16 15:06] anolan80 commented on #112
yes ping works just fine, and the connectivity worked prior to the upgrade.

On Mon, Nov 16, 2020 at 8:44 AM Simon Dodsley <notifications@github.com>
wrote:

[2020-11-20 21:40] eRaid6 opened #116 "'unable to parse env variables for psctl image' when following Dark-Site installation process"
When following the [Dark Site installation](https://github.com/purestorage/pso-csi/tree/master/pure-pso#dark-site-installation) process and using [mirror_pso_containers.sh](https://raw.githubusercontent.com/purestorage/pso-csi/master/mirror_pso_containers.sh) I get the following error on the cockroach operator and the installation stops progressing.  All of the images are successfully pulled from

[2020-11-20 23:05] Pure-AdamuKaapan commented on #116
Hello @eRaid6 ! Would I be able to see your `values.yaml` (specifically the `images` stanza). Thank you!

[2020-11-20 23:43] eRaid6 commented on #116
Hi @Pure-AdamuKaapan here is the `images` section of `values.yaml`
[code]

[2020-11-20 23:52] Pure-AdamuKaapan commented on #116
Ohhhh, I think I see what's happening. When I set up the parsing for this, I forgot that you may need port numbers in the registry address, and we had it set up to be a little "smarter", so that if you specified the tag in the name it would split it out. This should be fixable by making it use only the last section split by colons for the tag and joining the rest back together.

I'll shoot to have

[2020-11-20 23:54] eRaid6 commented on #116
@Pure-AdamuKaapan  awesome thanks for the quick response!  When you have the patch ready let me know and I can test it out.

[2020-11-24 18:58] Pure-AdamuKaapan commented on #116
@eRaid6 just FYI: there was a release (6.0.4) already in progress, so this fix won't be included in that. It will be picked up by the next release (either 6.0.5 or 6.1.0, whichever comes first)

[2020-11-24 21:18] eRaid6 commented on #116
@Pure-AdamuKaapan  sounds good.  This fix is to the `psctl` image correct, so no workaround possible at this point I assume?

[2020-11-24 22:17] Pure-AdamuKaapan commented on #116
@eRaid6 correct; at the moment I can't think of any workaround unless you're able to remove the port.

[2020-11-27 12:49] eRaid6 commented on #116
@Pure-AdamuKaapan unfortunately our GitLab registry listens on [port 5005](https://docs.gitlab.com/ee/administration/packages/container_registry.html#enable-the-container-registry) (the default) and `docker push` uses the private registry hostname and port that the image is tagged with so if I do not tag the image with the port when I go to push the image I get `Error: Status 404 trying to push re

[2020-11-28 03:27] haibinxie commented on #116
@eRaid6 we are planning to include the fix in next release, hopefully will be released on coming Monday or Tuesday. Before the release, Could you try these builds and see if they work for you?

  plugin:
    name: purestorage/k8s
    tag: v6.0.4
    pullPolicy: Always
  database:
    deployer:
      name: purestorage/dbdeployer
      tag: v1.0.4
      pullPolicy: Always
    cockroachOperator:

[2020-11-30 16:12] eRaid6 commented on #116
@haibinxie I tested the containers above.  When I switch to those versions the pso-csi-node containers are in a restart loop and have the following error
[code]

Let me know if I can provide any more information to help root cause this issue.

[2020-12-01 16:10] david-enli commented on #116
Hi Nick, are you using the topology feature? If so, would you be able to share you topology labels with us? Thanks

En

[2020-12-01 16:16] eRaid6 commented on #116
Hi @david-enli  I am not using the topology feature.
[code]

[2020-12-02 16:52] haibinxie commented on #116
The team is investigating the issue and verifying a potential fix for it.

[2020-12-04 19:04] david-enli commented on #116
hi @eRaid6, looks like we should have a fix that will be part of the next release (v6.0.4), please let us know if you have further questions after trying out v6.0.4. Note that it's not the current tag Michael suggested above, we will have a upgraded image when everything's ready

[2020-12-10 19:05] david-enli commented on #116
@eRaid6 hi, 6.0.4 is released this morning, please try again with all latest image and see if it resolve the issue, thanks

[2020-12-11 12:52] eRaid6 commented on #116
@david-enli  thanks for the update.  I'll try and get it tested today and post back the results.

[2020-12-14 09:35] Cellebyte opened #124 "[Bug] PSO DB scheduler schedules pods which will never join the cluster."
Hey got an issue with PSO on

* K8s: v.1.19.4
* PSO: v6.0.4

The db scheduler goes wild and creates a bunch of statefulsets.
The issue is that they are not able to join the existing cluster and stay in a not running state.
Is that wanted behavior?

[code]

[2020-12-14 14:01] sdodsley commented on #124
@Cellebyte can you confirm what deployment of Kubernetes you used, the CNI in place and that all the PSO pre-requested have been correctly installed and configured on all nodes in the cluster?
Do you see `pso-db` volumes being created on your backend devices?

[2020-12-14 16:07] Cellebyte commented on #124
@sdodsley
I can confirm for every pod a pv is created and it is also available in the backend. We use calico and the default installation from your repository.

[2020-12-14 16:10] sdodsley commented on #124
@Cellebyte - what I meant was, are you using OpenShift, Rancher, etc to deploy k8s?
The usual reason you get this is that IPv4 forwarding is not enabled on the worker nodes - Rancher deployments are definitely affected by this.

[2020-12-14 16:11] Cellebyte commented on #124
@sdodsley we don't use Rancher nor OpenShift. We use Vanilla K8s. IPv4 forwarding is enabled.

[2020-12-14 16:13] sdodsley commented on #124
Understood. Would it be possible to try and diagnose this live via a Zoom call? I can be free for the next hour to look at this.

[2020-12-14 16:15] Cellebyte commented on #124
@sdodsley I am currently full with meetings.
Is there a time slot tomorrow or on wednesday?

[2020-12-14 16:16] Cellebyte commented on #124
@sdodsley it happens if the statefulset gets rescheduled or containers are deleted and rescheduled.

[2020-12-14 16:20] sdodsley commented on #124
@Cellebyte thanks for the additional information.
If you have a clean install and none of the statefulsets get rescheduled or deleted, does everything look correct and you can provision PVs and PVCs?
I can be available tomorrow from 0900 - 1100 EDT (GMT +5)

[2020-12-14 16:25] Cellebyte commented on #124
@sdodsley provisioning is not blocked. The issue is that the db scheduler keeps adding unnecessary statefulsets and I was not able to delete them because they are added again after deletion ^^

[2020-12-14 16:28] sdodsley commented on #124
@Cellebyte got it - are you able to do tomorrow at the times specified?

[2020-12-14 16:35] Cellebyte commented on #124
I am available. 👍

[2020-12-14 17:09] sdodsley commented on #124
@Cellebyte I sent you a Zoom invite for tomorrow

[2020-12-15 12:50] eRaid6 commented on #116
@david-enli that fixed it.  Thank you!

[2020-12-15 13:16] #116 closed

[2020-12-15 14:39] Cellebyte commented on #124
@sdodsley will join at 16 GMT+1

[2020-12-15 16:14] Cellebyte commented on #124
Hey,

so to recreate the issue.
[code]
Delete all pods in the  namespace where pso is deployed
and wait for them to reschedule it will take some time and then the db is not satisfied.
Some DB pods will reschedule on the nodes but the schedule keeps up
creating new statefulsets.

When you keep in that state and want to cleanup the namespace it is not possible because everything waits for the finali

[2020-12-17 23:58] mscbpi commented on #90
You still have debug level log by default for container `db_deployer`.

@haibinxie

[2020-12-18 00:57] haibinxie commented on #90
I guess this fix did not work, it should be -debug or --debug=false @dsupure FYI please reassign owner.
https://github.com/purestorage/pso-csi/commit/347f6636bbc3a0d12d08486a032040ba95fcf9d8#diff-21c41dc0aa665e39c1501a8b25dba98d83a1a1d485fe4d7bd01e35561342b0fa

[2020-12-18 17:10] dsupure commented on #90
Hi @mscbpi :
sorry for the inconvenience that we overlook it. I'll have @david-enli to take a look and make sure we fix it.

[2021-01-06 22:52] david-enli commented on #90
hello @mscbpi , sry for the delay, if you want, you could make the same simple change I made in this PR: https://github.com/purestorage/pso-csi/pull/126, I've tested it on my cluster and it should work as expected. Once the team has the bandwidth to review it, it will be merged to the helm-chart, thanks!

[2021-01-09 00:22] pure-jliao opened #127 "Release v6.0.5"

[2021-01-12 18:29] pure-jliao commented on #127
[release PR](https://github.com/purestorage/pso-csi/pull/128)

[2021-01-12 18:29] #127 closed

[2021-01-13 16:36] sdodsley commented on #124
The issue is actually caused by environmental errors - a time synchronization service was not present. This causes the CockroachDB to have connectivity issues and the cockroach operator goes bad after the maximum 20 DB pods are in a bad state.
Ensuring a time sync process is running on all nodes of the cluster will stop this issue happening again.

[2021-01-13 16:36] #124 closed

[2021-01-15 20:58] mscbpi commented on #90
Hi @david-enli,

not sure yet:
`time="2021-01-15T20:54:21Z" level=info msg="no nodes need to be created or decommissioned" reconciler_name=controller_intrusion request=pure-pso/pso-db`

this looks like info level debugging.

my settings:

[code]

[2021-01-19 23:49] david-enli commented on #90
hi @mscbpi sry for the delayed response. Just to confirm, It seems that you have stopped seeing DEBUG level messages. We understand the inconvenience on your end. For the next release(currently aimed for Mid Feburary), the team will review PSO6 code base and make some changes to the log messages to make sure the log messages are more aligned with the standard log levels, this will hopefully make t

[2021-01-28 17:20] dsupure commented on #112
Hi @anolan80 : I would like to follow up on the issue again. Please let us know if you still have the issue, or I will close it.
Thank you.

[2021-02-05 02:29] nitroman02 opened #130 "Readiness probe failed with connection refused"
Hi, I've tried deploying PSO to verify function with our //FA M20, but faced "Readiness probe failed" and some PSO pods doesn't boot well.
May I have any advice?

Out environment
- PSO 6.0.5
- CentOS Linux release 7.9.2009 (Core)
-3master, 3worker of 6 nodes, and 1 HAproxy node for control plain
-Kubernetes Ver.
  Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2",
  GitCommi

[2021-02-05 16:02] sdodsley commented on #130
@nitroman02 can you confirm that all the PSO pre-requisites have been met for the worker nodes?

That includes IPv4 forwarding being enabled, a time sync service (such as ntpd or chronyd) is correctly installed and configured, multipathing software is installed and running (with the Pure stanza in the config file) and iSCSI software is installed and running.

It is also worth confirming your iSCSI

[2021-02-06 16:36] nitroman02 commented on #130
@sdodsley  Hi, Thank you for replying.
(I rebuild the cluster with K8s ver. 1.20.2, but the situation have not changed yet.)
I think the environment have met the requisites.
As a screenshot I attached, on M20, "HOSTs" have been configured with the name of worker nodes & its IQNs, and some "-pso-db_" volume have been created and connected. (These mean all requisites have been met correctly?)
I also

[2021-02-06 19:22] sdodsley commented on #130
@nitroman02 I suspect this is your error, as seen in the describes.
`Failed to pull image "purestorage/k8s:v6.0.5": rpc error: code = Unknown desc = Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit`
Due to the popularity of PSO we are starting to see this issue

[2021-02-07 00:54] dsupure commented on #130
Thanks @sdodsley.
Yes, this is due to docker hub limit issue: https://www.docker.com/increase-rate-limits

Free Docker Hub users are limited to 100 and 200 container image pull requests per six hours.

We are working on buying an unlimited license. Thanks for your patient.

[2021-02-08 08:40] nitroman02 commented on #130
Thank you, @sdodsley , @dsupure.
As you said, the cause was the limitation of docker hub.
My colleague could get some images from purestorage repo., and build local repository.
I could get all PSO pods running successfully with that repo.
Thanks!

[2021-02-08 08:40] #130 closed

[2021-02-12 17:46] jjthiessen opened #132 "HashiCorp Nomad Support"
This is less of an issue, and more of a series of questions (with implicit improvement suggestions).

CSI support has been available in HashiCorp Nomad (as a beta feature) for almost a year.
My understanding is that it is also available in at least a couple other orchestrators (Mesos, Cloud Foundry).

I haven't tried setting up pso-csi in our Nomad environment, but presumably 5.x _should_ just wor

[2021-02-12 20:53] sdodsley commented on #132
PSO 6 does require our internal CockroachDB with its own FlashAraays/FlashBlade backed storage and cannot leverage an external DB. It is also dependent on Kubernetes APIs.
We have no support for Nomad for a lot of the reasons you have listed.
For PSO 5 it might be possible, but that version is now deprecated.

For the future, we are planning to merge PSO into Portworx (following our acquisition) a

[2021-02-13 04:30] jjthiessen commented on #132
That both makes sense, and gives me several more follow-up questions (licensing implications, timing, etc); however, those conversations are probably more appropriate to have directly with our contacts at Pure (vs hijacking the issue tracker for PSO).

Thanks for your help.

[2021-02-13 04:30] #132 closed

[2021-02-20 01:45] aboje opened #135 "FC connectivity requirement"
Can you clarify the requirement: "FC Supported on Bare-metal K8s installations only"? If we intend to run multiple KVMs for k8s compute on top of our physical nodes, would that impact FC connectivity for those virtual machines?

[2021-02-20 14:31] sdodsley commented on #135
Please clarify how the KVM VMs will be presented with FC vWWNs and how these can be guaranteed to be persistent over reboots of the VM.
We have seen issues with the vWWN changing on reboot which causes the persistent volumes to loose connection to the VMs.

[2021-03-04 10:48] mscbpi commented on #87
We've upgraded to 6.x a while ago with  manual imports of existing pvc we wanted to keep.

It seems 6.1 has an upgrade path from 5.x

So this issue can be closed

[2021-03-04 10:48] #87 closed

[2021-03-04 10:50] mscbpi commented on #90
hi @david-enli  is it worth testing 6.1.x and compare verbosity of logs ?

[2021-03-04 21:33] david-enli commented on #90
hi @mscbpi , hope you are doing well. Unfortunately, we have not got a chance to include this fix in 6.1.x. But we already have an engineer assigned to revisit the log messages in the containers you mentioned (db-deployer and cockroach operator) to adjust and clean up some of the messages so it won't be as verbose. We will follow up in this thread again once we have a new patch. It will be out bef

[2021-03-05 17:39] dsupure commented on #135
@aboje : Any update from your side? We have not verified PSO in KVM environment. But we guess PSO should running fine as long as @sdodsley 's concern is addressed. Let me know if you have more questions.

[2021-03-05 18:50] aboje commented on #135
We are going through testing and checking with our HW vendor now. I will report our findings when this is complete.

[2021-03-08 00:04] mscbpi opened #141 "[Question] CockroachDB version"
This chart is using cockroach 19.2.3 which is a year old.

During testing of a supposed memory-leak in a previous issue https://github.com/purestorage/pso-csi/issues/91 (which was not, `limits` had to be set), we tried more recent image of the DB.

It was not part of the resolution but  I cannot downgrade to default version of this chart since I migrated to 20.x.

Forcing this image is still OK wi

[2021-03-08 00:14] mscbpi opened #142 "ImagePullSecrets in Helm charts for Docker Registry"
I recently encounter a situation where pods -not only PSO's- were evicted due to some pressure on nodes.

Then it went into a kind of scheduling loop:
- PSO operator was down
- Apps' Pods were not able to dettach/attach volume, no CSI available
- PSO Pods/DB could not terminate because of the `finalizer` not being available
- Apps and PSO Pods were getting into a crashloop and imagepull
- Rate lim

[2021-03-08 00:21] mscbpi opened #143 "[Question] Deploy PSO on control plane / master nodes ?"
Some examples of pod scheduling mentions the master nodes as appropriate nodes to run PSO.
https://github.com/purestorage/pso-csi/blob/master/docs/csi-controller-attach-detach.md

Being a component of the control-plane, this makes sense.  Is this considered as a best practice, assuming the nodes are capable of hosting them ?

- I tend not to mix K8s components with other's on master nodes, and PSO

[2021-03-09 00:41] dingyin commented on #141
Yes, we have a plan to update the version in the next release soon.

[2021-03-09 00:42] dingyin commented on #142
We are updating the DockerHub account and will fix the rate limiting issue for image pulling.

[2021-03-09 04:50] dingyin commented on #143
@mscbpi Could you let me know what version of PSO you are using?

[2021-03-09 12:24] mscbpi commented on #143
Version 6.0.5

Concerning resources Limits are used and were used before you set them up in helm charts by default, so to avoid cockroach using all the system memory. Cockroach aligns its system memory with limit sets so no OOM kill either. Still all considered PSO is resource-consuming

[2021-03-09 12:27] mscbpi commented on #142
Isn't it also the limit the client has ? Docker hub added quota on unauthenticated pull recently, and I am sure I reached this one,  not yours. Problem was solved by adding my credentials (paid account without limits) in ImagePullSecrets that I set on PSO's StatefulSets and Deployments.

[2021-03-09 14:06] sdodsley commented on #142
@mscbpi The issue was with the Pure Storage docker account in that it had not been upgraded after Docker changed the pull limits for free accounts.
This has been rectified and the Pure Storage Docker account has unlimited pull with zero throttling now.

[2021-03-18 14:05] jake2184 opened #148 "Topology not working?"
I'm having difficulty getting the CSI topology to work correctly. I have two Pure FlashBlades in separate racks, with a node in each rack, and am trying to get pods to get PVs on the Pure in the same rack.

Version is pure-csi v6.1.0, cluster is okd 4.7.0.

I have re-run the helm chart to update the flashblade labels:
[code]

and labelled my nodes:
[code]

and added a delayed pure-file storage cla

[2021-03-18 14:07] jake2184 commented on #148
A configuration check that I don't know how to do is to verify the labels were applied to the FlashBlades correctly - can I verify this with an `oc` command, or is that stored within the cockroach db?

[2021-03-18 14:12] sdodsley commented on #148
Did you set the following configurations in your `values.yaml` file?

[code]
You have to have 2 storage classes as well with the correct label defined in each. Use the appropriate SC for the FB you want to provision on.
An example is [here](https://github.com/purestorage/pso-csi/blob/master/docs/csi-topology.md#example-of-using-allowedtopologies-in-storageclass)

[2021-03-18 15:12] jake2184 commented on #148
Sigh, it's one of those days for me. I'd missed enabling the setting as you pointed out.

Thanks, working correctly now after that change.

FYI, I'm after a single storage class, not restricted with allowedTopology as you linked to. The config I posted in the issue achieves what I'm after, thanks.

[2021-03-18 15:12] #148 closed

[2021-03-18 22:02] MaxRink opened #150 "[Enhancement] List chart on artifacthub"
Currently the chart is not listed on artifacthub.
Given the fact that some registries (e.g. harbor) impliment their sync with artifacthub it would be nice to have the chart there.

[2021-03-18 23:29] sdodsley commented on #150
Thanks for your suggestion.
However, given that PSO will be merging with Portworx by the end of the year, we will not be following up with this..

[2021-03-18 23:29] #150 closed

[2021-03-25 14:17] sdodsley opened #153 "SmartAgent permission issue in OpenShift 4.7"
Executing the smart-agent script fails the ping command with `permission denied`.

If I log into one of the csi-node pods smart-config container and try the command manually this is the error I get:

[code]
Unknown if this error occurs on earlier versions of OpenShift.

[2021-03-25 14:59] dnix101 commented on #153
This is probably related to the container running as a non-root user. In Kubernetes a non-root user does not have access to ping, because it requires a port binding that is not allowed.

[2021-03-25 15:28] sdodsley commented on #153
Good catch @dnix101. That is the case. I'll raise a PR to fil this.

[2021-03-25 15:38] sdodsley commented on #153
Addressed in #154

[2021-03-25 16:09] #153 closed

[2021-03-26 13:23] aboje commented on #135
We verified with our HW vendor that this will not be possible. Closing issue.

[2021-03-26 13:23] #135 closed

[2021-04-05 13:58] aboje opened #158 "failed to create snapshot in k8s 1.20"
We recently upgraded to k8s 1.20.  I am having troubles creating volumesnapshots. Here is the error:

spec:
    snapshotClassName: pure-snapshotclass
    snapshotContentName: ""
    source:
      apiGroup: null
      kind: PersistentVolumeClaim
      name: pvc-nginx
  status:
    creationTime: "2021-04-05T13:22:48Z"
    error:
      message: 'Failed to create snapshot: selfLink was empty, can''t m

[2021-04-05 14:04] Pure-AdamuKaapan commented on #158
@aboje are you currently using PSO 5.x (looks like 5.2.0)? If so, can you please go ahead and open this on github.com/purestorage/helm-charts instead? Thanks!

[2021-04-05 14:07] Pure-AdamuKaapan commented on #158
That being said, it looks like that issue is resolved in csi-snapshotter v2+, which we use in PSO 6, so an upgrade would fix that and is probably recommended for k8s 1.20 anyways.

[2021-04-05 14:14] aboje commented on #158
Created https://github.com/purestorage/helm-charts/issues/256

[2021-04-05 14:14] #158 closed

[2021-04-06 14:56] aboje opened #159 "pso 5 to 6 upgrade. namespace concern"
I am planning an upgrade from PSO 5 to 6. I have read the warnings regarding the requirement to keep PSO in the same namespace when upgrading to PSO 6.1. Our challenge is that we specified 'pure-csi' as the namespace in the PSO 5 helm installation, but it installed in the default namespace.

[(default)]$ helm get values pure-storage-driver
USER-SUPPLIED VALUES:
arrays:
  FlashArrays:
    { REDACTE

[2021-04-06 15:16] sdodsley commented on #159
You have misunderstood the reference to `namespace`.

In the `values.yaml` file for PSO 5 the value for `namespace: pure:` is nothing to do with the k8s namespace, hence why we changed this field to be `clusterID` in PSO 6. There was a lot of confusion around this.

You have installed PSO 5 in the `default` k8s namespace and so you MUST install PSO 6 in the same k8s namespace, however using the `d

[2021-04-07 18:21] aboje commented on #159
Understood, thank you for the clarification.

[2021-04-07 18:21] #159 closed

[2021-04-11 01:58] dsupure opened #161 "Release 6.1.1"
## v6.1.1 (04/12/2021)

#### Bug fixes and enhancements:

* [NSTK-2256] Add missing toleration to db pods
* [NSTK-2259] Support DB pods StatefulSet node-affinity and topology
* [#90](https://github.com/purestorage/pso-csi/issues/90) Enhance PSO log debug level
* [#141](https://github.com/purestorage/pso-csi/issues/141) Set Default Cockroach DB version to v20.2.6

[2021-04-12 18:32] dsupure commented on #161
PR: https://github.com/purestorage/pso-csi/pull/162

[2021-04-12 18:32] #161 closed

[2021-04-12 19:53] mscbpi commented on #141
Closed with 6.1.1

[2021-04-12 19:54] #141 closed

[2021-04-12 20:00] mscbpi commented on #142
I reread the [documentation about docker hub rate limit](https://docs.docker.com/docker-hub/download-rate-limit/) and as far as I understand the quota is applied to the puller not the publisher, thus it is important that we can set our credentials in imagePullSecret as documented in the link above (see Kubernetes). From a practical point of view, referencing the secret from the helm chart's values

[2021-04-12 20:31] sdodsley commented on #142
Whilst I agree that there are pull limits for individual users, the issue we were seeing was that the Pure docker account hosting the images was a free account and therefore had limits placed on the number of image requests from it. These limits no longer exist as we have upgraded to a  Team account.
Should we see an uptick in issues with individual user accounts experiencing pull issues, we can c

[2021-04-13 06:52] mscbpi commented on #142
@sdodsley  thank you for your message, I cannot find this information anywhere. As we are also docker hub users may you be kind enough to highlight where requests limits applied to image publisher is documented and how you may know when quota is reached ? I can only see pull limits. btw when we were facing the issue with your image it was just with any image trying to be pulled unauthenticated fro

[2021-04-13 06:55] mscbpi commented on #142
@sdodsley actually I confirmed the opposite so you may review it:

https://www.docker.com/pricing/resource-consumption-updates

"Rate limits for Docker image pulls are based on the account type of the user requesting the image - not the account type of the image’s owner. These are defined on the pricing page."

[2021-04-13 13:09] sdodsley commented on #142
@mscbpi Yes - I agree with you after reading the blog post. Docker do not make it obvious and there is an implication in their pricing guidelines that the pull limits are based on the hosting account as well.
I will raise this issue with our Product Management team as it could impact not just PSO and its ultimate merging with Portworx, but also Portworx's as well.

[2021-04-13 13:13] mscbpi commented on #142
So PSO will merge with portworx ? 😀

[2021-04-13 13:17] sdodsley commented on #142
Yes - we have a roadmap for the complete integration by the end of this calendar year.
if you would like us to give you a presentation on the PSO -> PX roadmap please let me know by emailing me at simon@purestorage.com

[2021-04-15 12:26] aboje opened #163 "6.1.1 DB pod known issue clarification"
Can you clarify this known issue from the 6.1.1 changelog:
"Database volume is mounted as read-only and result in CrashLoopBackOff status of a db pod."

When does that occur and will that put PSO's overall state in jeopardy?

[2021-04-15 13:27] aboje opened #164 "clusterID characters allowed"
The values.yaml states that clusterID allows "alphanumeric and underscores".

In PSO5 our namespace.pure value is "pure-csi". We are forced to re-use that value in the clusterID field.

Will the dash in "pure-csi" cause any problems?

[2021-04-15 14:36] aboje commented on #164
Here is the output from a dry-run install:

$ helm install pure-pso pure/pure-pso --version 6.1.1 --namespace default -f pure-pso/values.yaml --dry-run --debug
install.go:159: [debug] Original chart version: "6.1.1"
install.go:176: [debug] CHART PATH: /home/aboje/.cache/helm/repository/pure-pso-6.1.1.tgz

install.go:188: [debug] WARNING: This chart or one of its subcharts contains CRDs. Rendering

[2021-04-15 16:19] aboje commented on #164
Are we forced to use the old pure.namespace value (pure-csi for us) so that PSO can manage volumes created by PSO5?

[2021-04-15 18:00] dsupure commented on #163
Hi @aboje:
It won't affect PSO's health as long as your PSO DB service meets the quorum, minimum 3 DB replicas.  One or two db pods in CrashLoopBackOff status is fine.

We saw the issue from one of our customers. Their environment had a TCP/iSCSI glitch that corrupted the filesystem used by the db. The OS will mount the corrupted filesystem as `read-only` to protect against further damages. Howeve

[2021-04-15 18:09] aboje commented on #163
That's great, thanks for the response.

[2021-04-15 18:09] #163 closed

[2021-04-15 18:12] dingyin commented on #164
In PSO 6, only alpha-numeric characters are allowed in the clusterID field. The same field in PSO 5 values.yaml is called “namespace”. This issue is known in the upgrading document from PSO 5 to 6.x: [https://github.com/purestorage/pso-csi/blob/master/docs/csi-5to6-upgradepath.md](https://github.com/purestorage/pso-csi/blob/master/docs/csi-5to6-upgradepath.md).

So we suggest to install 6 first an

[2021-04-15 18:18] aboje commented on #164
So the steps are to remove PSO5, install PSO6 (with a different clusterID value), then run imports for every persistent volume that was created by PSO5?

I hate to ask, but why not just include the same character restrictions in the new clusterID field as you allowed in the namespace field?

[2021-04-15 19:43] aboje commented on #164
If I am using a completely different clusterId/namespace value than I had in PSO5, should I keep the helm "upgrade" option to true?

[2021-04-15 20:38] david-enli commented on #164
no, if you are freshly installing PSO6, you can omit the "upgrade" field or set it to false, setting it to true will fail the upgrade then fail the install.
As for the reason that we impose new restrictions for PSO 6 clusterID, cockroach DB for PSO 6 requires no hyphen in our implementation. Apologize for the inconvenience.

[2021-04-15 21:10] aboje opened #165 "Process to enable snapshots on PSO6"
We had the ability to run snapshots under PSO5 and kubernetes 1.18/1.19.
When we upgraded to 1.20 we could no longer create snapshots. Details: https://github.com/purestorage/pso-csi/issues/158
We were not able to run the helm upgrade due to this: https://github.com/purestorage/pso-csi/issues/164
We ran the helm installation with upgrade=false and a new clusterID.
PSO6 looks like it installed corr

[2021-04-20 17:23] Pure-AdamuKaapan commented on #165
@aboje with the new version of k8s and PSO, you'll likely have to remove the old CRDs (`volumesnapshotclasses`, `volumesnapshotcontents`, and `volumesnapshots`) and apply the new ones. You'll also have to install the snapshot controller. Once that's done, the new snapshot class should go in.

The commands to do all of this looks like the following:
[code]

[2021-04-20 17:37] aboje commented on #165
Thank you, I agree. Is this also a required addition:
https://kubernetes-csi.github.io/docs/snapshot-validation-webhook.html

[2021-04-20 17:40] aboje commented on #165
Does PSO6 run any checks to see if CRDs, APIs, and other pre-requisites are in place prior to the installation attempt? If not, that would be helpful.

[2021-04-20 17:52] Pure-AdamuKaapan commented on #165
I don't believe that's a required addition, no. At the moment we don't have checks in place, but we are working on adding functionality to validate prerequisites and install missing ones.

[2021-04-22 09:08] L4rS6 opened #166 "Config option flasharray.iSCSIAllowedCIDR is ignored"
I installed the pso-csi by helm (`helm install pure-pso pure/pure-pso --namespace pure -f values.yaml`) and configured the values.yaml as follow:

[code]

But on some containers, which fail to start, I still can see that those containers try to connect to other target which are not in the allowed list above:

[code]

The overall status of the pure pso-csi pods are as follow:
[code]

It's quiet int

[2021-04-22 16:24] aboje commented on #165
After running those steps, we were able to proceed with the PSO6 final step of applying the snapshotclass.yaml. This was successful. We are now able to create volumesnapshots successfully.

[2021-04-22 16:24] #165 closed

[2021-04-23 15:29] haibinxie commented on #166
After some investigation, this parameter isn't used by the DB pods, it is only used by CSI, we will discuss the mitigation and fix and get back.

[2021-04-26 16:30] dsupure commented on #166
Hi @L4rS6, we identify it's a bug that we do not pass the iSCSIAllowedCIDR parameter to the PSO's db pods. We plan to release the next version in June. We will discuss the issue again in late May and give an update to see if we can squeeze the fix into the new release. We will get back to you later next month.

[2021-04-27 08:16] L4rS6 commented on #166
Hi @dsupure, thank you for clarification. Is there a possibility to get that fix earlier? For us it is currently impossible to use that plugin due to that bug.

[2021-04-28 15:27] #164 closed

[2021-04-28 21:06] aboje opened #167 "RWX on FlashArray"
PSO docs indicate that FlashArrays can be used for RWX accessmode on PVCs. Does this require a different storageClass be created? My pvc creation failed with this error:
"failed to provision volume with StorageClass "pure-block": rpc error: code = InvalidArgument desc = mount volume type with block backend and read-write-many access mode is not supported"

PVC:
---
apiVersion: v1
kind: PersistentV

[2021-04-28 21:11] sdodsley commented on #167
See details on how to use FA RWX here: https://github.com/purestorage/pso-csi/blob/master/docs/csi-read-write-many.md

[2021-04-28 21:21] aboje commented on #167
Ok, got it. "Specifically, we prohibit mounting a block volume as a filesystem as RWX."
Thanks for the fast response.

[2021-04-28 21:21] #167 closed

[2021-05-08 06:54] rpatil72 opened #168 "pso-csi-node pods restarts frequently"
{noformat}
$ kubectl get pods -o wide -n storage
NAME                                         READY   STATUS    RESTARTS   AGE     IP             NODE            NOMINATED NODE   READINESS GATES
pso-csi-controller-0                         6/6     Running   6          6h1m    172.20.2.53    init22b-8       <none>           <none>
pso-csi-node-24qd8                           2/3     Running   53

[2021-05-09 04:43] dsupure commented on #168
Hi, @rpatil72. Can you turn on the debug flag in the values.yaml, run the script [here](https://github.com/purestorage/pso-csi#report-a-bug) to collect the log and send to pso-support@purestorage.com?

Thanks.

[2021-05-09 05:23] rpatil72 commented on #168
Have enabled debug in values.yaml and have sent the collected logs to that email

[2021-05-12 22:22] dsupure commented on #168
Thank you @rpatil72 . We got the logs. Our support team is debugging the logs. We will contact you shortly once we find the issue. Thanks for your patience.

[2021-06-01 13:01] L4rS6 commented on #166
Hi @dsupure, are there any news regarding the new version including that fix?

[2021-06-10 09:59] zatricky commented on #168
Hi, @dsupure @rpatil72. Was there a solution to this problem before we contact support directly?

[2021-06-11 01:50] dsupure commented on #168
Hi @zatricky :
My team is investigating it. We will give you an update tomorrow. Thanks for your patient.

[2021-06-11 19:46] pure-jliao commented on #168
hello @rpatil72 @zatricky after investigation we probably need more info from you:
* did you start with PSO 5 or 6?
* did a fresh installed PSO 6 use to work fine? if yes what is the env setup? e.g. k8s, os versions
* though it restarts frequently, is it functioning or not?
* did those pod restart before or after it was ready?

From the latest log I got from the email
[code]
* pso pods started for

[2021-06-11 21:28] zatricky commented on #168
Hi, @pure-jliao. Our org has sent in a support request. Note that I have similar errors to those @rpatil72 submitted. In our case the original cause was a hypervisor cluster failure affecting many unrelated hosts, including an entire kubernetes cluster making use of the storage. We had already recovered all core services. I was hoping that a resolution was found for @rpatil72 so that we could at l

[2021-06-11 22:13] pure-jliao commented on #168
thanks @zatricky , FYI we do found something wrong related to this error log line on our side `Failed to retrieve configmap from cluster` but it shouldn't be the root cause of the problem stated here and kind of misleading, so that's why we need more info here in my previous post.

[2021-06-15 23:08] dsupure commented on #168
@rpatil72 : can you help to answer the questions from @pure-jliao ? Thanks.

[2021-06-16 16:37] rpatil72 commented on #168
@pure-jliao please find the replies below:

- did you start with PSO 5 or 6?
  Started with PSO 6

- did a fresh installed PSO 6 use to work fine? if yes what is the env setup? e.g. k8s, os versions
  This was a new setup with PSO 6; k8s 1.21 on Ubuntu 20.04.2 LTS / 5.4.0-72-generic, CRI is docker://20.10.2

- though it restarts frequently, is it functioning or not?
  It was not functioning

- did

[2021-06-17 18:23] pure-jliao commented on #168
@rpatil72 thanks for applying, one thing to note right now we haven't tested PSO 6 on k8s 1.21 and it's not officially supported yet. but not 100% sure it's caused by a newer and unstable version of k8s, so if possible do you have any chance to try a fresh install on k8s 1.20? meanwhile in your first post, only 2 node pods are restarting and all other PSO pods are healthy, if you could  reach that

[2021-06-21 07:43] mscbpi opened #171 "[FB] Storage class to create volumes with hard limits ?"
I could not find a parameter enabling hard limits on created volumes on flashblade, is it possible ?

[2021-06-21 16:28] haibinxie commented on #171
Voice heard, we plan to support it in the next release PSO 6.2 around Aug.

[2021-06-29 23:18] smrutimandal commented on #168
Facing the same issue.

[code]

[2021-06-30 02:07] pure-jliao commented on #168
@smrutimandal sorry we haven't narrowed down the problem here, there could be a lot of things causing PSO pod failures. So please collect the logs and contact support team for more investigation.

[2021-07-13 10:49] lehbot opened #174 "Create PVs in sync pod"
Hi,

at the moment it looks like the created PVs by PVCs are only available in the standard container on the Flasharray.
We would like to have the feature to specify the sync-pod where the PV gets created.
Is this planned or possible somehow ?
We are using version 6.1.1 but did not find an option yet

Lehbot

[2021-07-14 13:03] smrutimandal commented on #168
Hi,

Thanks for getting back to me. I am in the process of getting my support contract in order. In the meantime, I found that that the following feature-gate defaults have changed between 1.20 and 1.21.

Kube API Server **v1.20**:
CSIServiceAccountToken=true|false (ALPHA - default=false)
CSIStorageCapacity=true|false (ALPHA - default=false)

Kube API Server **v1.21**:
CSIServiceAccountToken=true|

[2021-07-14 13:35] L4rS6 commented on #166
Are there any news regarding the release date for the next release including that fix?

[2021-07-14 15:50] dsupure commented on #171
Hi @mscbpi: Sorry the feature cannot make it in the PSO 6.2 release.
I would suggest you use FA/FB UI to manually enable it.
PSO is going to merge into [portworx](https://portworx.com/). We don't plan to add new features to PSO but we will continue to patch bugs and support customers for any technical issues.

[2021-07-14 16:31] dsupure commented on #168
@smrutimandal: As @pure-jliao  mentioned, there are many possibilities and it's hard to troubleshoot your problem via github. Please contact pure support and we will create a support case for you. We will follow up there. Thank you.

[2021-07-15 06:34] smrutimandal commented on #168
Hi @dsupure ,

I understand that. If compatibility is really an issue though, the https://github.com/purestorage/pso-csi#environments-supported section, assuring support for v1.17+, is a bit confusing.

I will get in touch with support.

Thanks

[2021-07-15 13:23] sdodsley commented on #174
There is no current support for PV to be created in ActiveCluster pods. You cannot manually move a volume/PVC into a pod as PSO will lose control with the underlying volume - ie it cannot be snapshotted, resized or reattached to another worker node.
You can manually add the volume to a protection group for async replication, but this is completely outside of PSOs or k8s control and must be managed

[2021-07-15 13:23] #174 closed

[2021-07-15 16:06] sdodsley commented on #174
@lehbot a volume on a FlashArray uses a known naming convention, but then you create a volume in an ActiveCluster pod the naming conversion changes to `pod::volume` and PSO does not support this nor the associated API endpoints. The colons also cause issues in the k8s metadata for the PV.

[2021-07-15 17:16] sdodsley commented on #174
The naming convention is part of the core Purity code that was around before PSO existed and cannot be changed.
We are aware this is a customer requirement and do have it on our roadmap, but no planned dates currently.

[2021-07-20 07:43] ralmn opened #175 "databases tolerations not considered for pso-db"

[2021-07-20 07:47] ralmn opened #176 "databases tolerations not added for pso-db pods"
When we set the values.yaml with this settings:

[code]

The tolerations doesn't add on pso-db pods. So we cannot schedule pso-db on some nodes.

We currently used the charts from master branch.

[2021-07-20 07:52] #175 closed

[2021-07-27 23:44] haibinxie commented on #176
The tolerations is supported for fresh install. Did you try helm upgrade? for db pods that are deployed before helm upgrade, the tolerations will not be added (known issue)

[2021-07-28 07:22] ralmn commented on #176
We have try with a new install and it doesn't work

[2021-07-28 17:09] haibinxie commented on #176
@ralmn I tested on my cluster it worked. could you share your values.yaml, and pso logs collected by this script https://github.com/purestorage/pso-csi/blob/master/scripts/pso-collect-logs.sh

to run the script you just need to have kubeconfig setup correctly, it uses kubectl to get logs. if the file is too big share with me at hxie@purestorage.com

[2021-07-29 09:46] ralmn commented on #176
We have suspended our tests for the vacations. We will try again in September

[2021-08-09 18:54] MaxRink opened #179 "unpublish job for non-existing node get recreated"
We deploy our clusters using CAPI, thus our node names are ephermal.
Im currently noticing an unpublish job, that wants to run on a node that already got deleted and im unable to get reid of it.
If i delete the job, PSO just recreates it.
If i check on ly storage arrays, the volume it tries to unmount doesnt have a mount listed.

So, how do i get rid of that job.

[2021-08-11 09:56] L4rS6 commented on #166
Hi @dsupure and @haibinxie, has this been fixed in the v6.2.0-rc1 release candidate? We are still unable to deploy the pso-csi plugin due to that bug...

[2021-08-11 22:40] pure-jliao commented on #171
will be fixed as enabling hard limit by default in upcoming 6.2.0 GA.

[2021-08-16 21:35] pure-jliao commented on #166
@L4rS6 sorry for the late response, I have a PR out to fix this issue, it will be in v6.2.0 GA release. But the release date has not been determined. If you need a workaround, you could simply add the missing env `PURE_ISCSI_ALLOWED_CIDRS` to `cockroach-operator.yaml` according to the PR, or wait for the GA release which should be in August or September.

[2021-08-16 21:39] #166 closed

[2021-08-20 22:05] #171 closed

[2021-08-26 21:49] PxDave opened #183 "Need to change pullPolicy from Always -> IfNotPresent"
In the helm chart `values.yaml` the pullPolicies need to be changed from `Always` to `IfNotPresent`

[code]

[2021-09-09 13:31] jake2184 opened #185 "Explanation of DB failover"
I'm after a bit of clarity as the resilience/purpose of the cockroach DB volumes in a failover scenario.

I have 2 Pure devices, PureA and PureB, in a k8s cluster. I deploy pso on it, and PureA gets 3 DB volumes and PureB gets 2 DB volumes.

What happens if I loose PureA? Does the database continue to function, or does it require a quorum of the volumes? I'm not clear if they're shards or 5 identi

[2021-09-13 17:34] pure-jliao commented on #185
if we lose 3 volumes we may hit some issues as it would lose whatever ranges were hosted on those three replicas. the db volumes are 5 replicas. if we have 3 or more replicas we can tolerate full backend failure.

[2021-10-05 15:12] menardorama opened #186 "prometheus metrics ?"
Does latest version of PSO provide prometheus metrics of pvc usage ?

PSO Explorer don't offer such functionality, pso-analytics was but it's not maintained anymore

Thanks

[2021-10-05 16:54] sdodsley commented on #186
The latest version of PSO provides information for `getvolumestats` which can be scraped by the Prometheus Node Exporter.

This [blog post](https://devopscube.com/node-exporter-kubernetes/) has useful information on this.

[2021-10-10 07:55] PxDave commented on #183
woohoo!

[2021-10-10 07:55] #183 closed

[2021-10-13 09:19] TheBluesTeam opened #189 "purestorage pso-db Init:CrashLoopBackOff"
hello i am pure-storage user

Environment
1. k8s version: v1.20.10
2. node 3ea / master 1ea
3. os version : ubuntu 20.04.3
4. pso version : 6.2.0/6.0.1/6.0.5
5. cni : weave/clium/calico
6. maintenance : vsphere on vm
======================================================
Connect k8s and pure as a test.
but

**kubectl get pod -n storage**
pso-csi-controller-0                        5/6     Running

[2021-10-14 00:43] TheBluesTeam commented on #189
ADD LOG

time="2021-10-14T00:40:50Z" level=error msg="failed to connect to cockroach" addr="host=pso-db-public.pure port=26257 user=root dbname=pure sslmode=require sslcert=/cockroach/cockroach-certs/client.root.crt sslkey=/cockroach/cockroach-certs/client.root.key sslrootcert=/cockroach/cockroach-certs/ca.crt" error="dial tcp 10.98.72.90:26257: connect: connection refused"
time="2021-10-14T00:40:

[2021-10-14 04:48] TheBluesTeam commented on #189
[pso-logs-2021.10.14-11.19.31.zip](https://github.com/purestorage/pso-csi/files/7343096/pso-logs-2021.10.14-11.19.31.zip)

[2021-10-14 09:14] L4rS6 commented on #189
I run into the same issue with the following cluster:

- k8s Version: 1.21.5
- OS: Ubuntu 20.04.3 LTS
- pure/pure-pso Version : 6.2.0
- CNI : Calico

Let me know if I can provide any further information.

[2021-10-14 18:02] pure-jliao opened #190 "bug report email address not reachable"
We're writing to let you know that the group you tried to contact (pso-tses) may not exist, or you may not have permission to post messages to the group. A few more details on why you weren't able to post:

 * You might have spelled or formatted the group name incorrectly.
 * The owner of the group may have removed this group.
 * You may need to join the group before receiving permission to post.

[2021-10-18 06:59] L4rS6 commented on #189
@pure-jliao I just tried that fix, but the problem remains the same. Do you need further information?

[2021-10-21 21:34] grandich opened #194 "Failure to install with default values, pso-db pods missing"
On a healthy cluster with prereqs fulfilled and default values used, pso-db-* pods don't get created, even though pso-db-cockroach-operator doesn't log errors apparently.

Any help will be appreciated.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-11-15 04:04] dsupure opened #197 "PSO v6.2.1 Release"
**PSO v6.2.1 Release**

Fixes and improvements:
* Fix KB unit issue for NodeGetVolumeStats CSI call
* Support FlashBlade Safe Mode.
* Upgrade apiextensions.k8s.io API version from v1beta1 to v1.
* #196
* Upgrade CSIDriver apiVersion from v1beta1 to v1
* FibreChannel + NVME bug fixes.
* Fix volume resize failures

[2021-11-15 14:42] aboje commented on #197
Is this release k8s 1.22 compatible?

[2021-11-15 17:33] dsupure commented on #197
@aboje : No, we found an issue during the k8s 1.22 test. We decide to ship the 6.2.1 patches first.
K8s 1.22 support will be in 6.2.2 shortly.

[2021-11-18 03:44] fersan1985 commented on #197
I have this version running on my K8s v1.22.1 (Rocky Linux + multipath workaround + flannel issues + 2 days of troubleshooting with tears and blood)

![Screen Shot 2021-11-18 at 00 43 25](https://user-images.githubusercontent.com/72047538/142347817-c82b6404-5a37-4ba9-9bd8-4f24dd6b2e89.png)
.)

[2021-11-19 19:42] fersan1985 opened #199 "Unable to attach or mount volumes"
Hi! How are you guys?!! I have an error when trying to attach a volume to a pod.

Although it shows this...

[code]
and this..

[code]

Can't mount it on the pod

[code]

[code]

Pods
[code]

pso-csi-controller-0 extract log
[code]
pso-csi-controller-0 describe pod
[code]

I attached all the logs and send it to [support@purestorage.com](mailto)

Could you help me please? Thanks in advance!!!

[2021-12-08 19:03] fersan1985 commented on #199
👀

[2021-12-08 21:15] Pure-AdamuKaapan commented on #199
Hello @fersan1985 , apologies for the delays. I notice both that you're running Rocky Linux which we haven't had a chance to officially support yet, and also k8s 1.22 which we don't yet support (recently released PSO 6.2.1 adds support for 1.21). One or both of these issues may be contributing here

[2021-12-08 21:27] fersan1985 commented on #199
Hi! @Pure-AdamuKaapan Thank you for your response! Ok, we will try to migrate this cluster to Ubuntu and Kube 1.21. What's weird is that Rocky is a variant of Centos, which does support it.. ¯\_(ツ)_/¯

[2022-01-13 11:44] MaxRink opened #200 "Unpublish tasks for non-existant nodes"
Our clustera are managed by ClusterAPI, so our nodes are treated like throwaway objects and replaced instead of upgraded.
This causes issues with PSO, as PSO tried to create unpublish tasks for non-existent (and already shutdown) nodes
[code]
This leads to the cockroach operator failing, thus completely breaking PSO

[code]

[2022-01-19 15:36] ifelsefi opened #201 "pod anti affinity"
Hi

I would like to enable pod anti affinity so cockroach does not run on the same node.

This does not work:

[code]

`dduckwor@hou-mac18182[~/repos/k8s-flux-configs/hdc-dev/infra/pure]$ helm --kubeconfig ~/.kube/config_dev install pure-pso pure/pure-pso -n pure-pso -f values.yaml
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: Validati

[2022-01-26 16:45] mscbpi commented on #199
ubuntu 18.04 and kube 1.21, same error since we upgraded from 1.19.7 to 1.21.8. tried to reinstall PSO without success. Using RKE1 distro... worked well before :/

[2022-01-26 18:56] mscbpi commented on #168
1.21 is supposed to be supported now, do you have any update ?

[2022-01-27 00:11] #143 closed

[2022-01-27 00:12] #90 closed

[2022-01-27 00:13] #142 closed

[2022-01-27 00:44] mscbpi opened #202 "NodeGetVolumeStats"
README.md reports

Which looks wrong, it may be `NodeGetVolumeStats`.

What are the so-called required utilities exactly ?

[2022-02-08 16:37] eRaid6 opened #206 "Upgrade to pure-pso 6.2.2 Cockroach stays on old version"
I just upgraded pure-pso to 6.2.2 following the directions at https://github.com/purestorage/pso-csi/tree/master/pure-pso#upgrading-within-major-verstion and the `pso-db-X-X` pods did not restart, and are still on the old version.  All other pods restarted and are on the new version.  I manually restarted `pso-db-0-0` to see if it would restart on the new version of Cockroach, but it did not.

[co

[2022-03-02 23:46] djonnalaf5 opened #207 "Vulnerabilities detected in livenessprobe default image"
Hello,

We are using the default/recommended version for the livenessprobe image at https://github.com/purestorage/pso-csi/blob/d6da3f5c348644a73fbff24ad0e2c41ef8a17438/pure-pso/templates/plugin/node-server.yaml#L180
and there are multiple vulnerabilities detected in that image.  This image needs to be updated and please suggest the default image.

Image: quay.io/k8scsi/livenessprobe:v2.0.0

Found

[2022-03-31 21:48] rickerc opened #208 "Kubernetes 1.22 fails, because still using v1beta1 API?"
In the changelog for 6.2.1 I see:

* Upgrade CSIDriver apiVersion from v1beta1 to v1

However, when I deploy 6.2.2 on a k8s 1.22 cluster, I see this warning during install:

W0331 17:24:55.378092  136256 warnings.go:70] storage.k8s.io/v1beta1 CSIDriver is deprecated in v1.19+, unavailable in v1.22+; use storage.k8s.io/v1 CSIDriver
W0331 17:24:55.482359  136256 warnings.go:70] storage.k8s.io/v1beta

[2022-04-19 18:16] gaima8 commented on #208
Not sure if I'm suffering from the same problem as you @rickerc but I'm unable to get PVCs in a brand new k8s 1.22 cluster.

A volume is provisioned (in the flasharray) and bound to a pod (in k8s). But the volume (flasharray) doesn't get connected to a host (iSCSI), so no block device is seen by the k8s node.
The pod logs are... interesting? I guess. The pso-db thing is running with flasharray vol

[2022-04-19 19:19] rickerc commented on #208
That looks like the same failure I was seeing.

FWIW, Portworx does have a CSI variant now -- https://central.portworx.com/specGen/wizard and select the "Portworx CSI for FlashArray and FlashBlade" to try it. It's not 1:1 feature parity with PSO CSI, though, so may or may not be a suitable alternative for you....

[2022-04-27 16:47] dsupure commented on #208
@rickerc, @gaima8 :
PSO doesn't support 1.22 yet. It's not because of the v1beta1, the issue is due to csi.ProbeRequest.

PSO is integrating into Portworx. We don't have plan to support higher k8s versions unless there are major vulnerability concerns of current k8s versions.  Please contact Pure/Portworx support to explore Portworx options.

I'll close the issue in the next few days if you don't

[2022-04-28 16:05] dsupure commented on #207
Hi @djonnalaf5 : Yes, we plan to do a patch release to fix the vulnerability issues. It should be around late May or early June.

[2022-04-28 16:05] #207 closed

[2022-04-28 16:18] haibinxie commented on #206
Unfortunately we dont support cockroach DB upgrade, cockroach has complicated upgrade instructions, the steps change when upgrading to different version. please change the cockroach db version back to the original version, even we see old version is still used, if any pod is down due to infrastructure issue, we will create new pod to replace it and new pod will use new version, which may result in

[2022-05-06 02:56] #208 closed

[2022-05-06 02:56] #197 closed

[2022-05-09 21:43] pure-jliao commented on #206
closing if no further questions.

[2022-05-09 21:43] #206 closed

[2022-05-09 21:48] pure-jliao commented on #202
thanks for catching this, should be `NodeGetVolumeStats` according to csi spec.

[2022-05-09 21:50] #202 closed

[2022-05-09 21:52] #186 closed

[2022-05-09 21:54] #112 closed

[2022-05-09 21:55] pure-jliao commented on #176
please reopen if still having the issue.

[2022-05-09 21:55] #176 closed

[2022-05-09 21:56] #185 closed

[2022-05-09 22:01] #189 closed, assigned to nobody

[2022-05-09 22:02] pure-jliao commented on #199
Please open a new ticket or reopen this one if still having the issue.

[2022-05-09 22:02] #199 closed

[2022-05-09 22:04] pure-jliao commented on #179
dup of #200

[2022-05-09 22:04] #179 closed

[2022-06-03 04:40] dsupure opened #212 "csi.ProbeRequest compatibility issue using k8s v1.22+"
When we install PSO in the k8s v1.22+ environment, we will see the following error from the csi-controller log
[code]
This seems to be a thread/worker deadlock issue.

[2022-06-03 12:25] knack-marc opened #213 "pso-csi-node uses wrong storage backend"
## Problem Statement

Persistent Volumes fail to mount to nodes because the pso-csi-node pod is using block device commands when the storage backend is file.

This is very similar to #199 and could be the same issue.

## Environment

* FlashBlade running Purity//FB 3.3.2
* Kubernetes cluster using supported configuration
[code]
* pso-csi chart 6.2.2

## Background

This cluster has been using the

[2022-06-03 16:37] knack-marc commented on #213
Pure Support Case  CS0050232

[2022-06-04 17:43] dsupure commented on #213
Thank you @knack-marc for reporting the issue. The support team is checking your logs you uploaded. We will contact you shortly. I'll close this issue for now.

[2022-06-04 17:43] #213 closed